<%- include("partials/header") -%>

<header>
  <!-- <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div> -->
  <div class="headings">
    <h2>Muhammadrizo</h2>
    <h3>Software Engineer</h3>
    <a href="/blog" class="btn">Blog</a>
  </div>
</header>

<%- include("partials/footer") -%>